body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
table, th, td{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 800px;
    background-color: lightgrey;
    margin: 10px auto;
}
.ingreso-tarea{
    width: 88%;
}
.ingreso-btn{
    width: 10%;
}
tbody{
    display: flex;
    flex-direction: column;
    
}
/* .ingreso-check{
 
} */
tr{
    justify-content: space-between;
}